<section class="{{ class }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-10  col-lg-offset-1  col-md-12  col-md-offset-0">
        <div class="hor-card{{#if reverse}}  hor-card--reverse{{/if}}{{#if wide}}  hor-card--wide{{/if}}{{#if center}}  hor-card--center{{/if}}">

          {{#if reverse }}
          <div class="hor-card__body" data-mh="card">
            <div class="hor-card__wrap">
              <h1 class="hor-card__title">{{ title }}</h1>
              <p class="hor-card__copy">{{ copy }}</p>
            </div>
          </div>
          <div class="hor-card__object"  data-mh="card">
            <img src="{{ image }}" class="hor-card__image">
          </div>
          {{else}}
          <div class="hor-card__object" data-mh="card">
            <img src="{{ image }}" class="hor-card__image">
          </div>
          <div class="hor-card__body" data-mh="card">
            <div class="hor-card__wrap">
              <h1 class="hor-card__title">{{ title }}</h1>
              <p class="hor-card__copy">{{ copy }}</p>
            </div>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</section>