<section class="{{ class-list }}">
  <div class="container">
    <div class="row">
      <div class="col-md-10  col-md-offset-1">
        <h1 clas="band__headline">{{ title }}</h1>
        <p class="band__text--max">{{ copy }}</p>
        {{#if button-text }}
          <a href="{{ button-link }}"  class="button  button--primary">{{ button-text }}</a>
        {{/if}}
      </div>
    </div>
  </div>
</section>